.what-i-do-section {
    padding: 90px 0px;
}

.what-i-do-items {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-align: center;
    height: 300px;
}

.what-i-do-items h6 {
    margin-bottom: 20px;
}

.what-i-do-items-icon {
    color: #813AFE;
    font-size: 50px;
    margin: 30px 0px;
}

.what-i-do-items-description {
    color: #8B8B8B;
    font-weight: 480;
}

.what-i-do-container {
    padding: 0px 150px;
}
.what-i-do-read-more{
    color: #813AFE;
}